<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <p>{{ request.user }}</p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>
    <h1>My Todo List</h1>
    <form action="" method="get">
        <input type="text" name="search-area">
        <input type="submit" value="Search Task">
    </form>
    <table>
        <tr>
            <th>Items</th>
        </tr>
        {% for tasks in task %}
        <tr>
            <td> {{ tasks.id }} - {{ tasks.title }}</td>
            <td><a href="{% url 'tasks-detail' tasks.id %}"> View </a> </td>
            <td><a href="{% url 'tasks-create' %}"> Add </a> </td>
            <td><a href="{% url 'tasks-update' tasks.id %}"> Update </a> </td>
            <td><a href="{% url 'tasks-delete' tasks.id %}"> Delete </a> </td>
        </tr>
        {% empty %}
        <h3>No items in list</h3>
        <a href="{% url 'tasks-create' %}">Add New Item</a>
        {% endfor %}
    </table>
</body>
</html>