# Ignore the .idea directory
.idea/

# Ignore the virtual environment directory
venv/

# Ignore the SQLite database
todo/__pycache__/
todo/migrations/ 
todoapp/__pycache__/

# Ignore all __pycache__ directories
**/__pycache__/
